<!DOCTYPE html>
<html ng-app="mvcAngularJsWebApplication">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/styles")
    
</head>
<body ng-controller="MainController">

    <header>
        <nav class="nav nav-default nav-fixed-top">
            <ul class="nav nav-pills">
                <li role="navigation"><a href="#/"><i class="fa fa-home"></i> Home</a></li>
                <li role="navigation"><a href="#about"><i class="fa fa-shield"></i> About</a></li>
                <li role="navigation"><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
                <li role="navigation"><a href="#links"><i class="fa fa-comment"></i> Links</a></li>
                <li role="navigation"><a href="#login"><i class="fa fa-comment"></i> Login</a></li>
            </ul>
        </nav>
    </header>
    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <content class="container">
        <div ng-view></div>
    </content>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/uiGrid")
    @Scripts.Render("~/bundles/MVCAngularJsWebApplication")
</body>
</html>